:root {
  --color-black0: #000000;
  --color-black1: #121212;
  --color-black2: #212020;
  --color-white: #FFFFFF;
  --color-purple: #8543ff;
  --color-gray: #c4c2c2;
  --color-blue: #4c0dc1;
  --color-blue2: #4309b1;


  --text-color: var(--color-gray);
  --border-color: var(--color-gray);
  --primary-color: var(--color-black1);
  --secondary-color: var(--color-blue);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 20px;
}